RewriteEngine On
RewriteCond %{HTTP_HOST} paulchristianlabor\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://paulchristianlabor.com/$1 [R,L]
RewriteRule ^(.*)$ https://paulchristianlabor.com/mainteance/$1 [R=302,L]