* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    background-color: #0a192f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}
body {
    height: 100%;
    width: 100%;
}
.header {
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}
.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
a{
    color: #a8b2d1;
    text-decoration: none;
    padding: 2% 4%;
    margin: 0% 4%;
}
a:hover {
    color: #64ffda;
}
.border {
    border: 1px solid #64ffda;
    border-radius: 5px;
}
.border:hover {
    box-shadow: 2px 2px 5px #64ffda;
}